<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <style>
        .container {
            text-align: center;
            max-width: 500px;
            margin: 0 auto;
        }
        .form-container {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin-top: 20px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-label {
            font-weight: bold;
        }
    </style>
</head>
<body>

<div class="container">
    <h2>[[${pageTitle}]]</h2>
    <form th:action="@{/orders/save}" method="post" th:object="${order}" class="form-container">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="orderDate" class="form-label col-sm-4">Order Date:</label>
            <div class="col-sm-8">
                <input type="text" id="orderDate" th:field="${order.orderDate}" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="status" class="form-label col-sm-4">Status:</label>
            <div class="col-sm-8">
                <select id="status" name="orderStatus" class="form-control">
                    <option value="NEW">New</option>
                    <option value="IN_PROGRESS">In Progress</option>
                    <option value="COMPLETED">Completed</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="totalPrice" class="form-label col-sm-4">Total Price:</label>
            <div class="col-sm-8">
                <input type="text" id="totalPrice" th:field="${order.totalPrice}" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label for="totalQuantity" class="form-label col-sm-4">Total Quantity:</label>
            <div class="col-sm-8">
                <input type="text" id="totalQuantity" th:field="${order.totalQuantity}" class="form-control"/>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary m-2">Save</button>
            <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
        </div>

    </form>
</div>

<script type="text/javascript">
    function cancelForm() {
        window.location.href = "/viewOrders";
    }
</script>

</body>
</html>
